<!-- <div *ngFor="let city of citiesData.cities">
    <div *ngIf="city.cityName === selectedCity">
    </div>
</div> -->

<!-- 
        <div style="display: grid; grid-template-columns: repeat(3,1fr); gap: 50px; margin-left: 60px; margin-right: 60px;">
            <div *ngFor="let movie of city.movie"
                style="width: 300px; height: 320px; border: 2px solid gray; border-radius: 10px;">
                <img src={{movie.imgUrl}} alt="movie-poster"
                    style="width: 300px; height: 200px; border-radius: 10px;">
                <p style="margin-left: 10px; font-weight: 800;">name: {{movie.name}}</p>
                <div style="display: flex; justify-content: space-around;">
                    <p>Imdb: {{movie.imdb}}</p>
                    <button>Book Show</button>
                </div>
            </div>
        </div> -->

<div class='topmost'>
    <div class='secondmost' *ngFor="let movie of cityRelatedMovieData[0].movie">
        <img src={{movie.imgUrl}} alt="movie-poster" style="width: 300px; height: 200px; border-radius: 10px;">
        <p style="margin-left: 10px; font-weight: 800;">{{movie.name}}</p>
        <div style="display: flex; justify-content: space-around;">
            <p>Imdb: {{movie.imdb}}</p>
            <button routerLink="/show" (click)="addtoBookShow(movie)">Book Show</button>
        </div>
    </div>
</div>





<!-- <div *ngFor="let city of citiesData.cities">
    <div *ngFor="let movie of city.movie" style="width: 300px; height: 450px; border: 2px solid gray; border-radius: 10px;">
        <p>{{movie.name}}</p>
        <img src={{movie.imgUrl}} alt="" style="width: 300px; height: 200px; border-radius: 10px;">
        <p *ngFor="let area of movie.area">
            {{area.area}}
        </p>
        <div *ngFor="let genre of movie.genre"  style="display: flex;">
            {{genre.genre}}
        </div>
    </div>
</div> -->